*.box
*.egg-info
*.py[oc]
.config/
.vagrant.d/
.vagrant/
/schema.json
__pycache__/
build/
dist/
tests/data/docs/_build/
tests/data/tutorials/Vagrantfile
wheels/

# Virtual environments
.venv

# Documentation
/docs/_build/
/docs/_static/swagger-ui/
/*.tar.gz

# Coverage
/.coverage

# IntelliJ products (PyCharm)
.idea/
