name: Documentation
on:
  push:
  pull_request:

env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: 1
  SWAGGER_UI_RELEASE: "5.30.3"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Acquire sources
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5.5.0
        with:
          python-version: "3.14"
          architecture: x64
      - name: Install uv
        uses: astral-sh/setup-uv@v5.3.1
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync
      - name: doc8 style checks
        run: uv run doc8 docs/

      # Generate Swagger UI docs
      - name: Fetch Swagger UI
        run: wget https://github.com/swagger-api/swagger-ui/archive/refs/tags/v${SWAGGER_UI_RELEASE}.tar.gz
      - name: Extract Swagger UI
        run: tar xf v${SWAGGER_UI_RELEASE}.tar.gz -C docs/_static/ --strip=1 swagger-ui-${SWAGGER_UI_RELEASE}/dist/ --transform s/dist/swagger-ui/
      - name: Generate schema
        run: uv run generate-schema.py

      # Finally, generate Sphinx docs
      - name: Spelling
        run: uv run make -C docs spelling
      - name: Generate documentation
        run: uv run make -C docs html